TIMEZONE=UTC

APP_NAME=Vendra
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://domain
ASSET_URL=https://domain

CONSOLE_OPERATOR_USERNAME=vendra
CONSOLE_OPERATOR_EMAIL=vendra@domain
CONSOLE_OPERATOR_PASSWORD=

PULSE_INGEST_DRIVER=redis
PULSE_REDIS_CONNECTION=cache

APP_MAINTENANCE_DRIVER=cache
APP_MAINTENANCE_STORE=redis

LOG_STACK=daily
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=vendra
DB_USERNAME=vendra
DB_PASSWORD=change-this-app-db-password

REDIS_HOST=127.0.0.1

SESSION_DRIVER=redis
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_DOMAIN=null

FILESYSTEM_DISK=public

CACHE_STORE=redis
SETTINGS_CACHE_ENABLED=true
QUEUE_CONNECTION=redis

GOOGLE_CLIENT_ID=s
GOOGLE_CLIENT_SECRET=s
GOOGLE_REDIRECT_URI=https://<app>/admin/oauth/callback/google

GITHUB_CLIENT_ID=
GITHUB_CLIENT_ID=
GITHUB_REDIRECT_URI=https://<app>/admin/oauth/callback/github

MAIL_MAILER=smtp
MAIL_PORT=1025
MAIL_FROM_ADDRESS=hello@domain
MAIL_FROM_NAME="${APP_NAME}"
