parameters:

    paths:
        - app
        - packages/vendra-subscription/src

    # Level 10 is the highest level
    level: 10
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
