<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-activity-log">
            <directory>app-modules/vendra-activity-log/tests/Unit</directory>
            <directory>app-modules/vendra-activity-log/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-affiliate">
            <directory>app-modules/vendra-affiliate/tests/Unit</directory>
            <directory>app-modules/vendra-affiliate/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-api">
            <directory>app-modules/vendra-api/tests/Unit</directory>
            <directory>app-modules/vendra-api/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-attribute">
            <directory>app-modules/vendra-attribute/tests/Unit</directory>
            <directory>app-modules/vendra-attribute/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-attribute-api">
            <directory>app-modules/vendra-attribute-api/tests/Unit</directory>
            <directory>app-modules/vendra-attribute-api/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-authify-log">
            <directory>app-modules/vendra-authify-log/tests/Unit</directory>
            <directory>app-modules/vendra-authify-log/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-blog">
            <directory>app-modules/vendra-blog/tests/Unit</directory>
            <directory>app-modules/vendra-blog/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-blog-api">
            <directory>app-modules/vendra-blog-api/tests/Unit</directory>
            <directory>app-modules/vendra-blog-api/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-currency">
            <directory>app-modules/vendra-currency/tests/Unit</directory>
            <directory>app-modules/vendra-currency/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-custom-page">
            <directory>app-modules/vendra-custom-page/tests/Unit</directory>
            <directory>app-modules/vendra-custom-page/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-faq">
            <directory>app-modules/vendra-faq/tests/Unit</directory>
            <directory>app-modules/vendra-faq/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-faq-api">
            <directory>app-modules/vendra-faq-api/tests/Unit</directory>
            <directory>app-modules/vendra-faq-api/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-geo">
            <directory>app-modules/vendra-geo/tests/Unit</directory>
            <directory>app-modules/vendra-geo/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-language">
            <directory>app-modules/vendra-language/tests/Unit</directory>
            <directory>app-modules/vendra-language/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-localization">
            <directory>app-modules/vendra-localization/tests/Unit</directory>
            <directory>app-modules/vendra-localization/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-multimedia">
            <directory>app-modules/vendra-multimedia/tests/Unit</directory>
            <directory>app-modules/vendra-multimedia/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-multimedia-api">
            <directory>app-modules/vendra-multimedia-api/tests/Unit</directory>
            <directory>app-modules/vendra-multimedia-api/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-newsletter">
            <directory>app-modules/vendra-newsletter/tests/Unit</directory>
            <directory>app-modules/vendra-newsletter/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-permission">
            <directory>app-modules/vendra-permission/tests/Unit</directory>
            <directory>app-modules/vendra-permission/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-product">
            <directory>app-modules/vendra-product/tests/Unit</directory>
            <directory>app-modules/vendra-product/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-product-api">
            <directory>app-modules/vendra-product-api/tests/Unit</directory>
            <directory>app-modules/vendra-product-api/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-subscription">
            <directory>app-modules/vendra-subscription/tests/Unit</directory>
            <directory>app-modules/vendra-subscription/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-support">
            <directory>app-modules/vendra-support/tests/Unit</directory>
            <directory>app-modules/vendra-support/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-tagger">
            <directory>app-modules/vendra-tagger/tests/Unit</directory>
            <directory>app-modules/vendra-tagger/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-tenant">
            <directory>app-modules/vendra-tenant/tests/Unit</directory>
            <directory>app-modules/vendra-tenant/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-testing">
            <directory>app-modules/vendra-testing/tests/Unit</directory>
            <directory>app-modules/vendra-testing/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-transaction">
            <directory>app-modules/vendra-transaction/tests/Unit</directory>
            <directory>app-modules/vendra-transaction/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-user">
            <directory>app-modules/vendra-user/tests/Unit</directory>
            <directory>app-modules/vendra-user/tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-user-profile">
            <directory>app-modules/vendra-user-profile/tests/Unit</directory>
            <directory>app-modules/vendra-user-profile/tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="2G"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
